/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Mobile Styles

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible.

"The absence of a media query is your first media query"

******************************************************************/

body {
	background: url(../images/sf-body.png) no-repeat bottom right;
	font-size: 10px;
	line-height: 1em;

}

#wrapper {
width: 96em;
margin: 10px auto;
background-color: green;
}


.logo {
	background: url(../images/logo-accademia-belle-arti-cuneo.png) no-repeat bottom right;
	background-size:10em 10em;
	width: 10em;
	height: 10em;

}

header div img {
	width: 20%;
}

.content {
	width: 69%;
	float: left;
	background-color: red;
	padding: 2%
}
.sidebar {
	width: 23%;
	padding: 2%;
	background-color: white;
	float: right;

}
