/******************************************************************
Site Name: ABA Cuneo 
Author: Gianni Salerno
URL: http://accademiabellearticuneo.it

Stylesheet: Foglio di stile principale

Non va alterato, serve solo a richiamare tutte le parti.
******************************************************************/
/* import reset */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../sass/normalize.scss */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../sass/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../sass/normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../sass/normalize.scss */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../sass/normalize.scss */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../sass/normalize.scss */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../sass/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 132, ../sass/normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 137, ../sass/normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 142, ../sass/normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 147, ../sass/normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 152, ../sass/normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../sass/normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 174, ../sass/normalize.scss */
blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../sass/normalize.scss */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../sass/normalize.scss */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../sass/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../sass/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../sass/normalize.scss */
q {
  quotes: none; }

/* 2 */
/* line 242, ../sass/normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/* line 247, ../sass/normalize.scss */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 264, ../sass/normalize.scss */
sup {
  top: -0.5em; }

/* line 268, ../sass/normalize.scss */
sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../sass/normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 288, ../sass/normalize.scss */
dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../sass/normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../sass/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../sass/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../sass/normalize.scss */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../sass/normalize.scss */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../sass/normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../sass/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../sass/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../sass/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../sass/normalize.scss */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../sass/normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../sass/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins

These are used throughout the site and contain things like 
CSS3 techniques, buttons, forms, grid info, ect. It's called 
right after the normalize stylesheet.
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 17, ../sass/mixins.scss */
.clearfix {
  zoom: 1; }
  /* line 19, ../sass/mixins.scss */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  /* line 23, ../sass/mixins.scss */
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
/* line 34, ../sass/mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 88, ../sass/mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic; }

/* text alignment */
/* line 94, ../sass/mixins.scss */
.text-left {
  text-align: left; }

/* line 95, ../sass/mixins.scss */
.text-center {
  text-align: center; }

/* line 96, ../sass/mixins.scss */
.text-right {
  text-align: right; }

/* alerts & notices */
/* line 100, ../sass/mixins.scss */
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

/* line 106, ../sass/mixins.scss */
.help {
  border-color: #e8dc59;
  background: #ebe16f; }

/* line 111, ../sass/mixins.scss */
.info {
  border-color: #bfe4f4;
  background: #d5edf8; }

/* line 116, ../sass/mixins.scss */
.error {
  border-color: #f8cdce;
  background: #fbe3e4; }

/* line 121, ../sass/mixins.scss */
.success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
BORDER RADIUS
*********************/
/* @include borderRadius(4px); */
/* @include borderTopRadius(4px); */
/* @include borderRightRadius(4px); */
/* @include borderBottomRadius(4px); */
/* @include borderLeftRadius(4px); */
/*********************
TRANISTION
*********************/
/* @include transition(all,2s,ease-out); */
/*********************
BOX SHADOWS
*********************/
/* @include box-shadow(5px, 5px, 10px, #000); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include boxSizing(border-box); */
/*********************
BOX SHADOW
*********************/
/* @include boxShadow(0 0 4px #444); */
/*********************
BUTTONS
*********************/
/* line 260, ../sass/mixins.scss */
.button, .button:visited {
  border: 1px solid #e3d535;
  border-top-color: #e7da50;
  border-left-color: #e7da50;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #e8dc59;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebe16f), to(#e8dc59));
  background-image: -webkit-linear-gradient(top, #ebe16f, #e8dc59);
  background-image: -moz-linear-gradient(top, #ebe16f, #e8dc59);
  background-image: -o-linear-gradient(top, #ebe16f, #e8dc59);
  background-image: -ms-linear-gradient(top, #ebe16f, #e8dc59);
  background-image: linear-gradient(top, #ebe16f, #e8dc59); }
  /* line 278, ../sass/mixins.scss */
  .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    color: white;
    border: 1px solid #e3d535;
    border-top-color: #d6c71e;
    border-left-color: #d6c71e;
    background-color: #e5d842;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8dc59), to(#e5d842));
    background-image: -webkit-linear-gradient(top, #e8dc59, #e5d842);
    background-image: -moz-linear-gradient(top, #e8dc59, #e5d842);
    background-image: -o-linear-gradient(top, #e8dc59, #e5d842);
    background-image: -ms-linear-gradient(top, #e8dc59, #e5d842);
    background-image: linear-gradient(top, #e8dc59, #e5d842); }
  /* line 286, ../sass/mixins.scss */
  .button:active, .button:visited:active {
    background-color: #ebe16f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8dc59), to(#ebe16f));
    background-image: -webkit-linear-gradient(top, #e8dc59, #ebe16f);
    background-image: -moz-linear-gradient(top, #e8dc59, #ebe16f);
    background-image: -o-linear-gradient(top, #e8dc59, #ebe16f);
    background-image: -ms-linear-gradient(top, #e8dc59, #ebe16f);
    background-image: linear-gradient(top, #e8dc59, #ebe16f); }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 295, ../sass/mixins.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 312, ../sass/mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 325, ../sass/mixins.scss */
.invisible {
  visibility: hidden; }

/******************************************************************
BASE (MOBILE) SIZE 
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Mobile Styles

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible.

"The absence of a media query is your first media query"

******************************************************************/
/* line 15, ../sass/base.scss */
body {
  background: url(../images/sf-body.png) no-repeat bottom right;
  font-size: 10px;
  line-height: 1em; }

/* line 22, ../sass/base.scss */
#wrapper {
  width: 96em;
  margin: 10px auto;
  background-color: green; }

/* line 29, ../sass/base.scss */
.logo {
  background: url(../images/logo-accademia-belle-arti-cuneo.png) no-repeat bottom right;
  background-size: 10em 10em;
  width: 10em;
  height: 10em; }

/* line 37, ../sass/base.scss */
header div img {
  width: 20%; }

/* line 41, ../sass/base.scss */
.content {
  width: 69%;
  float: left;
  background-color: red;
  padding: 2%; }

/* line 47, ../sass/base.scss */
.sidebar {
  width: 23%;
  padding: 2%;
  background-color: white;
  float: right; }

/******************************************************************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's 
larger than in iPhone but smaller than a tablet. Let's call them
tweeners.
******************************************************************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481 & Up
  
  This is for devices like the Galaxy Note or something that's 
  larger than in iPhone but smaller than a tablet. Let's call them
  tweeners.
  ******************************************************************/ }
/* end of media query */
/******************************************************************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 768 & Up
  
  This is the average viewing window. So Desktops, Laptops, and 
  in general anyone not viewing on a mobile device. Here's where
  you can add resource intensive styles.
  ******************************************************************/ }
/* end of media query */
/******************************************************************
DESKTOP 
This is the average viewing window. So Desktops, Laptops, and 
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 1030 & Up
  
  This is the average viewing window. So Desktops, Laptops, and 
  in general anyone not viewing on a mobile device. Here's where
  you can add resource intensive styles.
  ******************************************************************/ }
/* end of media query */
/******************************************************************
LARGE VIEWING SIZE 
This is for the larger monitors and possibly full screen viewers.
******************************************************************/
@media only screen and (min-width: 1382px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 1382 & Up
  
  This is for the larger monitors and possibly full screen viewers.
  ******************************************************************/ }
/* end of media query */
/******************************************************************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with 
other displays with a 2x resolution. 
******************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Displays
  
  This applies to the retina iPhone (4s) and iPad (2,3) along with 
  other displays with a 2x resolution. 
  ******************************************************************/ }
/* end of media query */
/******************************************************************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
******************************************************************/
@media print {
  /* Welcome to Compass. Use this file to define print styles.
   * Import this file using the following HTML or equivalent:
   * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */ }
/* end print media query */
